:host {
    margin: 5px;
}

h1,
h2 {
    color: #f90;
}

input {
    background: #222222;
    border: solid 1px #222222;
    border-radius: 3px;
    height: 20px;
    color: #bdbdbd;
}

button {
    color: #00FFFF;
    width: 100px;
    height: 30px;
    font-weight: 100;
    background: #585858;
    cursor: pointer;
}

label {
    font-size: 20px;
}

#tips {
    width: 300px;
    height: 300px;
    border: dashed 1px #585858;
    border-radius: 10px;
}

#tips>div {
    width: 300px;
    height: 300px;
    font-size: 100;
    text-align: center;
    color: #585858;
    line-height: 300px;
}