#body {
    /* margin-left: 20px; */
    /* margin-top: 20px; */
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    margin: 20px;
}

#main {
    width: 760px;
    overflow: auto;
    height: calc(100% - 50px);
}

#code {
    width: calc(100% - 800px);
    overflow: auto;
    height: calc(100% - 50px);
}

table{
    margin-left: 5px;
}
td{
    padding-left: 5px;
    padding-right: 5px;
}
ui-label {
    font-size: 18px;
    color: white;
    height: 50px;
    line-height: 60px;
}
ui-asset {
    font-size: 18px;
    line-height: 35px;
    color: greenyellow;
    width: 230px;
    height: 35px;
}

input[type='text'], ui-input[type='text'], ui-file {
    font-size: 18px;
    line-height: 30px; 
    color:mediumspringgreen;
    background-color: transparent !important;
}

ui-file{
    width: 100%;
    color :lightblue
}

#funcList {
    font-size: 18px;
    color:chartreuse;
    border-spacing: 50px;
    font-weight: bold;
}

#funcList > input {
    width: 20px;
    height: 20px;
}

#btnCreate {
    color: greenyellow;
    height: 50px;
}

button {
    font-size: 18px;
    width: 100%;
    height: 50px;
    background-color:rgb(153, 153, 153);
    outline: 2px;
    outline-color: white;
}

button:hover{
    background-color: silver;
}

.modelName {
    font-weight: bolder;
    text-shadow:1px 1px tomato;
}

ui-prop :hover {
    background-color: #525252;
}
ui-prop :active {
    background-color: #8F8F8F;
}

#btnHover :hover{
    background-color: #525252;
}
#btnHover :active {
    background-color: #8F8F8F;
}

.LinkItem {
    text-align: center;
    margin: auto;
}

.LinkItem>ui-button{
    transform: scale(1);
}

ui-select {
    width: 100px;
}