.full {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column
}

.counter {
    text-align: center;
}

.common-use {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

.group-panel {
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
}

.group-drag {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    z-index: 1;
}

.group-list-panel {
    height: 100%;
    width: 200px;
    padding: 5px;
}

.group-info-panel {
    position: relative;
    width: calc(100% - 200px);
    height: 100%;
}

.group-search {
    width: 100%;
    height: 40px;
    white-space: nowrap;
    line-height: 30px;
}

.group-content {
    width: 200px;
    display: flex;

    max-height: calc(100% - 50px);
    overflow-y: auto;
}

.group-item {
    width: 175px;
    height: 50px;
}

.group-info-title-text {
    font-size: 40px;
    font-weight: bolder;
    color: #f0ad4e;
    text-shadow: 1px 4px 7px #f0ad4e;
}

.group-info-title {
    position: relative;
    height: 100px;
}

.lock {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    transform: scale(2);
}

.group-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transform: scale(2);
}

.lock:hover {
    color: var(--color-warn-fill);
}

.group-delete:hover {
    color: #d30000
}

.group-info-content-item:hover .assets-delete {
    display: block;
}

.assets-delete {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.assets-delete:hover {
    color: #d30000
}

.h-line {
    width: 100%;
    height: 5px;
    background-color: #171717;
    border-radius: 5px;
    margin: 5px;
}

.v-line {
    width: 5px;
    height: 100%;
    background-color: #171717;
    border-radius: 5px;
    margin: 5px;
}


.group-item>ui-button {
    width: 100%;
    height: 100%;

    line-height: 50px;
}

.select {
    background-color: #1cb152;
}

.type-sort-content {
    left: 10px;
    bottom: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.type-sort-content>.type-item {
    text-align: left;
}

.group-add {
    margin-top: 10px;
    margin-bottom: 10px;

    width: 100%;
    height: 50px;
}

section {
    border-top: 3px solid #050505;

    flex: 1;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 120px);
    justify-items: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    display: flex;
}

.h-section {
    width: 100%;
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.v-section {
    flex-direction: column;
    height: 100%;
}

.drag-area-ready {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(169, 169, 169, 0.116);
    border: 2px dashed #000;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.drag-area-ready>span {
    font-size: 50px;
    font-weight: bold;
}

#readyDragArea {
    position: absolute;
    left: 0px;
    top: 0px;

    display: none;
    pointer-events: none;
}

#dragArea[hoving]>#readyDragArea {
    display: flex !important;
}

#dragArea {
    display: flex;
    flex-direction: column;
}

.group-info-content-item {
    position: relative;
    width: 80px;
    padding: 5px;
    text-align: center;
    border-radius: calc(var(--size-small-radius) * 1px);
    cursor: -webkit-grab;
    outline: 0;
}

.group-info-content-item .icon {
    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 60px;
    background-size: 40px 40px;
}

.group-info-content-item:hover {
    background-color: #3d3d3d;
}

.group-info-content-item:active {
    background-color: #656565;
}

.group-info-content>section {
    flex: 1;
    overflow: auto;
    background: var(--color-normal-fill);
    border-top: 1px solid var(--color-normal-border);
    border-bottom: 1px solid var(--color-normal-border);
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 120px);
    justify-content: center;
    justify-items: center;
}

.group-info-content {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.group-input {
    font-size: 20px;
    background-color: #000;
    border-radius: 5px;
    border: 2px solid #c1c1c1;
    margin-right: 10px;
    color: #c1c1c1;
}