<div id="body">
    <div id="main">
        <h1 id="MVC">MVC Creator</h1>
        <!-- <ui-button>刷新</ui-button> -->
        <hr />
        <p>
            <h2>function list</h2>
            <div id="funcList"></div>
        </p>

        <p>
            <table>
                <tr>
                    <td>
                        <h2>class name</h2>
                    </td>
                    <td>
                        <h2>comment</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="scriptName" type="text" value="newScript" />
                    </td>
                    <td>
                        <input id="scriptComment" type="text" value="注释" />
                    </td>
                </tr>
            </table>
        </p>
        <hr />
        <p>
            <div id="classesPanel"></div>
        </p>
        <hr />
        <p>
            <button class="btnHover" id="btnCreate">create</button>
        </p>

        <div id="prefabs" hidden="true">
            <ui-prop id="scriptItem">
                <table>
                    <tr>
                        <td style="width: 100px;">
                            <ui-label class="modelName" value="model: "></ui-label>
                        </td>
                        <td>
                            <ui-label style="color:royalblue;">class</ui-label>
                        </td>
                        <td>
                            <input type="text" class="layerName" value="text">
                        </td>
                        <td>
                            <ui-label style="color:royalblue;">extends</ui-label>
                        </td>
                        <td>
                            <ui-asset readonly id="font" droppable="cc.Script" value=""></ui-asset>
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <div class="LinkItem" hidden="true">
                                <table>
                                    <tr>
                                        <div class="btnLink">
                                            <span>
                                                <ui-button class="transparent icon-button green">
                                                    <ui-icon style="transform: scale(1.5);" value="link"></ui-icon>
                                                </ui-button>
                                            </span>
                                            <span>
                                                <ui-button class="transparent icon-button">
                                                    <ui-icon style="transform: scale(1.5);" value="unlink"></ui-icon>
                                                </ui-button>
                                            </span>
                                        </div>
                                    </tr>
                                    <div class="scriptLink" style="height: 5px; display: flex;">
                                        <tr>
                                            <ui-select></ui-select>
                                        </tr>
                                    </div>
                                </table>
                            </div>
                        </td>
                        <td>
                            <ui-label value="path:"></ui-label>
                        </td>
                        <td colspan="3">
                            <ui-file type="directory" value=""></ui-file>
                            <span class="btnLock" style="width: 5%;height: 100%;">
                                <span>
                                    <ui-button class="transparent icon-button green">
                                        <ui-icon style="transform: scale(1.5);" value="lock" class="lock">
                                        </ui-icon>
                                    </ui-button>
                                </span>
                                <span>
                                    <ui-button class="transparent icon-button">
                                        <ui-icon style="transform: scale(1.5);" value="unlock" class="lock">
                                        </ui-icon>
                                    </ui-button>
                                </span>
                            </span>
                        </td>
                    </tr>
                </table>
            </ui-prop>
            <ui-prop id="prefabItem">
                <table style="width: 95%;">
                    <tr>
                        <td style="width: 100px;">
                            <ui-label class="modelName" value="model: "></ui-label>
                        </td>
                        <td style="width: 45;">
                            <ui-label style="color:royalblue;">name</ui-label>
                        </td>
                        <td>
                            <input style="width: 100%;" type="text" class="layerName" value="text">
                        </td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <ui-label value="path:"></ui-label>
                        </td>
                        <td colspan="2">
                            <ui-file type="directory" value="project://assets/test"></ui-file>
                            <span class="btnLock" style="width: 5%;height: 100%;">
                                <span>
                                    <ui-button class="transparent icon-button green">
                                        <ui-icon style="transform: scale(1.5);" value="lock" class="lock">
                                        </ui-icon>
                                    </ui-button>
                                </span>
                                <span>
                                    <ui-button class="transparent icon-button">
                                        <ui-icon style="transform: scale(1.5);" value="unlock" class="lock">
                                        </ui-icon>
                                    </ui-button>
                                </span>
                            </span>
                        </td>
                    </tr>
                </table>
            </ui-prop>
            <ui-prop id="resItem">
                <table style="width: 95%;">
                    <tr>
                        <td style="width: 100px;">
                            <ui-label class="modelName" value="model: "></ui-label>
                        </td>
                        <td style="width: 45;">
                            <div class="LinkItem">
                                <table>
                                    <tr>
                                        <div class="btnLink">
                                            <span>
                                                <ui-button class="transparent icon-button green">
                                                    <ui-icon style="transform: scale(1.5);" value="link"></ui-icon>
                                                </ui-button>
                                            </span>
                                            <span>
                                                <ui-button class="transparent icon-button">
                                                    <ui-icon style="transform: scale(1.5);" value="unlink"></ui-icon>
                                                </ui-button>
                                            </span>
                                        </div>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td style="width: 200px;">
                            <input type="file" style="width: 100% ;" class="importResDir"  webkitdirectory directory>
                        </td>
                        <td style="width: 50%;"></td>
                    </tr>
                    <tr class="tr2">
                        <td>
                            <ui-label value="path:"></ui-label>
                        </td>
                        <td colspan="3">
                            <ui-file class="outPutResDir" type="directory" value="project://assets/test"></ui-file>
                            <span class="btnLock" style="width: 5%;height: 100%;">
                                <span>
                                    <ui-button class="transparent icon-button green">
                                        <ui-icon style="transform: scale(1.5);" value="lock" class="lock">
                                        </ui-icon>
                                    </ui-button>
                                </span>
                                <span>
                                    <ui-button class="transparent icon-button">
                                        <ui-icon style="transform: scale(1.5);" value="unlock" class="lock">
                                        </ui-icon>
                                    </ui-button>
                                </span>
                            </span>
                        </td>
                    </tr>
                </table>
            </ui-prop>

            <div class="grid-item"></div>
        </div>
    </div>
    <div id="preview-code" hidden>
        <ui-code id="mainCode" language="typescript"></ui-code>
    </div>
    <div id="preview-res" hidden>
        <div id="resNode" class="grid-container"></div>
    </div>
</div>